<div class="row">
  <div class="col-12 add-padding">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">Sobre esta aplicacion...</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsam assumenda doloribus distinctio similique obcaecati temporibus voluptatum, illo reprehenderit nobis totam harum, aperiam ad laborum tenetur eligendi id dolorum consequuntur.</p>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsam assumenda doloribus distinctio similique obcaecati temporibus voluptatum, illo reprehenderit nobis totam harum, aperiam ad laborum tenetur eligendi id dolorum consequuntur.</p>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum ipsam assumenda doloribus distinctio similique obcaecati temporibus voluptatum, illo reprehenderit nobis totam harum, aperiam ad laborum tenetur eligendi id dolorum consequuntur.</p>
        </div>
      </div>
  </div>
</div>