<div class="row">
   <div class="col">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collap" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="width:100%;">
                  <span class="navbar-toggler-icon"></span>
         </button>
            <!--<a class="navbar-brand">Navbar</a>-->
         <div class="collapse navbar-collapse" id="collap">
            <ul class="navbar-nav  mr-auto text-center">
               <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['']">Inicio</a></li>
               <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/Heroes']" >Heroes</a></li>
               <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/About']">Informacion</a></li>
            </ul>

            <div class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Busca tu heroe.." aria-label="Search" (keyup.enter)="buscarHeroe(busca.value)" #busca>
                  <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="buscarHeroe(busca.value)">Buscar</button>
            </div>
         </div>
      </nav>
   </div>
</div>